# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
*.iml
*.hprof

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.ipa
*.xcuserstate

# Bundle artifacts
*.bundle

# EAS
.eas/

# Testing
coverage/
.jest/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
.cache/

# Build outputs
build/
output/
